.code-editor{
    border-bottom: 1px solid rgb(211, 206, 206);
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    width: 100vw;
    padding-bottom: 2rem;
}

.code{
    margin-top: 1rem;
}

.run-code{
    margin-top: 10px;
    border: 2px solid gray;
    background-color: rgb(175, 172, 172);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}

.run-code:hover{
    background-color: rgb(139, 138, 138);
}